/* ================= GLOBAL RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    background: url("../assets/images/bg.png") repeat;
}

html {
    scroll-behavior: smooth;
}

/* ================= GLOBAL CONTAINER / RESPONSIVE PADDING ================= */

.section,
.hero-section,
.footer-section,
.faq-section,
.testimonials-section,
.process-section,
.resources-section,
.applications-section,
.solutions-section,
.home-section,
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
}

/* ------------------ Responsive Padding ------------------ */

/* Below 1440px */
@media (max-width: 1440px) {

    .section,
    .hero-section,
    .footer-section,
    .faq-section,
    .testimonials-section,
    .process-section,
    .resources-section,
    .applications-section,
    .solutions-section,
    .home-section,
    .container {
        padding: 100px;
    }
}

/* Below 1200px */
@media (max-width: 1200px) {

    .section,
    .hero-section,
    .footer-section,
    .faq-section,
    .testimonials-section,
    .process-section,
    .resources-section,
    .applications-section,
    .solutions-section,
    .home-section,
    .container {
        padding: 80px;
    }
}

/* Below 1080px */
@media (max-width: 1080px) {

    .section,
    .hero-section,
    .footer-section,
    .faq-section,
    .testimonials-section,
    .process-section,
    .resources-section,
    .applications-section,
    .solutions-section,
    .home-section,
    .container {
        padding: 80px 60px;
    }
}

/* Below 800px */
@media (max-width: 800px) {

    .section,
    .hero-section,
    .footer-section,
    .faq-section,
    .testimonials-section,
    .process-section,
    .resources-section,
    .applications-section,
    .solutions-section,
    .home-section,
    .container {
        padding: 80px 48px;
    }
}

/* Below 360px */
@media (max-width: 360px) {

    .section,
    .hero-section,
    .footer-section,
    .faq-section,
    .testimonials-section,
    .process-section,
    .resources-section,
    .applications-section,
    .solutions-section,
    .home-section,
    .container {
        padding: 48px 16px;
    }
}